:root {
  /* define fonts */
  --font-menu: 'Font Aweome Brands';
  --font-main: 'Source Sans Pro', sans-serif;
  --font-alt: ;
  --font-h1: 'Fugaz One', cursive;


  /* define colors */
  --color-main:        #6441A5;
  --color-main-alt:    #26a7de;
  --color-text-main:   #ffffff;
  --color-text-alt:    #868686;
  --background-main:   #333333;
  --background-alt:     #161616;
  --menu-text-color:   	#f0f0f0;
  --contact-text-color: #26a7de;    
}

html {
  font-family: var(--font-main);
}

body {
  background-color: var(--background-main);
}

header {
  font-family: var(--font-menu);
  background-color: var(--color-main);
  color:  var(--menu-text-color);
  width: 100%;
  padding: 2px;
}

.menu a {
  color: var(--menu-text-color);
  text-shadow: 0.1em 0.1em 0.15em black;
}

.menu a:hover {
  color: var(--color-text-alt);
  text-shadow: 0.1em 0.1em 0.15em var(--contact-text-color);
}

.menu {
  color: var(--text-main);
  font-size: 2rem;
  text-align: right;
  overflow: hidden;
  margin: 6px;
  padding: 6px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky + .about {
  padding-top: 60px;
}

h1 {
  font-family: var(--font-h1);
  font-size: 3rem;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em black;
}

.about {
  color: var(--color-text-main);
  text-align: center;
  padding-top: 5rem;
  height: 32rem;
}

.projects {
  font-family: var(--font-main);
  color: var(--color-text-main);
  text-align: center;
  padding-top: 6rem;
  height: 35rem;
}

.contact a {
  color: var(--contact-text-color);
  text-shadow: 0.1em 0.1em 0.15em black;
}

.contact a:hover {
  color: var(--color-text-alt);
  text-shadow: 0.1em 0.1em 0.15em var(--contact-text-color);
}

.contact h1 {
  color: var(--color-text-main);
}

.contact {
  font-size: 2rem;
  text-align: center;
  color: var(--contact-text-color);
  padding: 6px;
}

.email {
  box-align: center;
  text-align: center;
  font-size: 1rem;
}

.email form {
  color: var(--color-text-alt);
}

.email p {
  color: var(--color-text-main);
}

.email p input {
  background-color: var(--background-alt);
}

.email textarea {
  background-color: var(--background-alt);
  color: var(--color-text-alt);
}

.credits {
  color: var(--color-text-main);
  font-size: 0.8rem;
}