:root {
  /* define fonts */
  --font-menu: 'Font Aweome Brands';
  --font-main: 'Source Sans Pro', sans-serif;
  --font-alt: ;
  --font-h1: 'Fugaz One', cursive;


  /* define colors */
  --primary:            #6200EE;
  --primary-alt:        #3700B3;
  --secondary:          #03DAC6;
  --secondary-alt:      #018786;
  --complement:         #90ee02;
  --complement-alt:     #ee6002;

  --background:         #161616;
  --background-alt:     #333333;
  
  --text:               #FFFFFF;
  --text-alt:           #000000;    
  --error:   	          #B00020;
}

html {
  font-family: var(--font-main);
}

body {
  background-color: var(--background);
}

.banner {
  font-family: var(--font-menu);
  background-color: var(--primary);
  color:  var(--text);
  width: 100%;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
}

.banner + .about {
  padding-top: 60px;
}

h1 {
  color: var(--text);
  font-family: var(--font-h1);
  font-size: 3rem;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em var(--text-alt);
  padding-top: 6rem;
}

.paragraph {
  border-radius: 2rem;
}

.menu a {
  color: var(--text);
  text-shadow: 0.1em 0.1em 0.15em var(--text-alt);
}

.menu a:hover {
  color: var(--primary);
  text-shadow: 0.1em 0.1em 0.15em var(--text-alt);
}

.menu {
  font-size: 2rem;
  text-align: right;
  overflow: hidden;
  margin: 6px;
  padding: 6px;
  border-radius: 2rem;
}

.about {
  color: var(--text);
  text-align: center;
  padding-top: 5rem;
  height: 32rem;
}

.projects {
  font-family: var(--font-main);
  color: var(--text);
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.3rem;
  max-width: 100%;
}

.projects img {
  width: 100%;
  max-height: 15rem;
}

.projects a {
    text-align: center;
    background-color: var(--background-alt);
    color: var(--text);
    transition: color 0.3s ease-out;
}

.media-links a {
  color: var(--primary);
  text-shadow: 0.1em 0.1em 0.15em var(--text-alt);
}

.media-links a:hover {
  color: var(--background-alt);
  text-shadow: 0.1em 0.1em 0.15em var(--primary-alt);
}

.media-links {
  font-size: 4rem;
  text-align: center;
  color: var(--text);
  padding: 6px;
  min-height: 35rem;
}

.contact {
  text-align: center;
  color: var(--background-alt);
  padding: 6px;
  min-height: 35rem;
}

.email {
  text-align: center;
  font-size: 1rem;
}

.email form {
  color: var(--background);
}

.email label {
  color: var(--background-alt);
}

.email label input {
  background-color: var(--background-alt);
  color: var(--text);
}

.email textarea {
  background-color: var(--background-alt);
  color: var(--text);
}

input, textarea {
  border-color: var(--primary);
}

.credits {
  color: var(--complement-alt);
  font-size: 0.8rem;
  text-align: center;
}